.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 300px;

    overflow: hidden;
}

.transition {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    animation-duration: 1s;

    z-index: 10;
}

.translr {
    animation-name: trans-lr;
}

.transrl {
    animation-name: trans-rl;
}

.image {
    width: 100%;
    height: 100%;
}

.carousel button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;
}

.left {
    left: 5%;
}

.right {
    right: 5%;
}

@keyframes trans-rl {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

@keyframes trans-lr {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}