.openCart {
    background: none;
}

.cartIcon {
    width: 32px;
}

.container {
    background-color: var(--dark-color);
}

.header {
    display: grid;
    align-items: center;
    justify-items: center;

    position: relative;

    background-color: var(--primary-color);
}

.header h2 {
    margin: 5px;
}

.closeCart {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);

    background: none;
    color: var(--font-color);

    font-size: 2rem;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;

    margin: 10px auto;
    padding: 0;

    width: 95vw;
    min-height: 65vh;
}

.checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtotal {
    margin: 20px 0 0 0;
}

.subtotal span {
    font-size: 1.2rem;
    font-weight: 400;
}

.checkout {
    position: sticky;
    display: block;

    margin: 15px auto 5px auto;
    padding: 10px;

    border: none;
    border-radius: 20px;

    background-color: var(--button-color);
    color: var(--font-color);

    font-size: 1.2rem;
}

.summary {
    margin: 0 auto;
    padding: 10px;

    width: 95vw;
    background-color: var(--dark-color);
}

.summary h2 {
    margin: 0 0 20px 0;
}

.divider {
    margin: 10px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
    border: 1px;
}