.openCart {
    background: none;
}

.cartIcon {
    width: 32px;
}

.container {
    display: grid;
    grid-template-rows: 50px auto auto;
    background-color: var(--dark-color);
    min-height: 100vh;
}

.header {
    display: grid;
    align-items: center;
    justify-items: center;

    position: relative;

    background-color: var(--primary-color);
}

.header h2 {
    margin: 5px;
}

.closeCart {
    position: absolute;
    top: 50%;
    left: 5px;

    transform: translateY(-50%);

    background: none;
    color: var(--font-color);

    font-size: 2rem;
}

.cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: space-between;

    margin: 10px auto;
    padding: 0;

    width: 95vw;
}

.cartItemContainer {
    width: 100%;
}

.checkoutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subtotal {
    margin: 20px 0 0 0;
}

.subtotal span {
    font-size: 1.2rem;
    font-weight: 400;
}

.checkout {
    position: sticky;
    display: block;

    margin: 15px auto 5px auto;
    padding: 10px;

    border: none;
    border-radius: 20px;

    background-color: var(--button-color);
    color: var(--font-color);

    font-size: 1.2rem;
}


.divider {
    margin: 10px 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    height: 1px;
    border: 1px;
}

.productsContainer {
    margin-bottom: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}
.continueBuying {
    text-decoration: underline;
}

.footerContainer {
    align-self: flex-end;
}

@media screen and (min-width: 800px) {
    .main {
        padding: 25px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-around;
    }


    .cart {
        width: 100%;
    }

    .checkoutContainer {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
        padding: 20px;
        border: 1px solid rgba(255, 255, 255, 0.1);
        height: 200px;
    }

    .checkoutContainer p {
        margin: 0;
    }
}