.cartItem {
    display: grid;
    grid-template-columns: auto 2fr 0.5fr;
    column-gap: 10px;

    margin: 5px;
    width: 100%;

    background-color: var(--dark-color);

    border-radius: 5px;
    overflow: hidden;
}

.cartItem button {
    background: none;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.trash {
    width: 32px;
    height: 32px;
    filter: invert(100%);
}

.title {
    margin: 0;
}