.footer {
    padding: 10px;
    display: grid;
    align-items: end;
  
    width: 100%;
    min-height: 50px;
  
    background-color: var(--primary-color);
}

.footer a {
    color: inherit;
    text-decoration: underline;
}

.footer address {
    text-align: center;
}