/* General */
.header {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 300px;
  color: white;
  background-image: url('/images/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}


.header h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  vertical-align: middle;
}

.text {
  padding: 10px;
  margin: 0 auto;
  background-color: var(--dark-color);
  width: 98vw;
  border-radius: 0 0 5px 5px;
}

/* Products */
.products {
  margin: 25px 0;

  width: 100%;

  display: grid;
  grid-row-gap: 25px;
  justify-items: center;
}