/* main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    padding: 10px;
    width: 98vw;

    background-color: var(--dark-color);
}

/* Heading */
.heading {
    margin-bottom: 40px;
}

.title {
    margin: 5px 0;
    font-weight: 200;
    font-size: 2.2rem;
}

.price {
    font-weight: 400;
}

/* Options */
.size {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/* Addtitional Info */
.info {
    font-weight: 200;
}

/* Button */
.addToCart {
    padding: 10px 20px;
    display: block;
    border-radius: 20px;
    margin: 30px auto 40px;

    font-size: 1.2rem;

    color: var(--font-color);
    background-color: var(--button-color);
}

.addToCart:hover {
    background-color: var(--button-hover-color);
}