/* main */
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;

    background-color: var(--background-color);
    border-radius: 0 0 5px 5px;
}

.stuff {
    display: flex;
    flex-direction: column;

    width: 100%;
    border-radius: 0 0 5px 5px;

    background: var(--dark-color);
}

.stuff > div:last-child {
    padding: 25px;
}

/* Heading */
.heading {
    margin-bottom: 40px;
}

.title {
    margin: 5px 0;
    font-weight: 200;
    font-size: 2.2rem;
}

.price {
    font-weight: 400;
}

/* Options */
.size {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.size li {
    margin: 10px;
}

/* Addtitional Info */
.info {
    padding: 20px;
    padding-top: 0;
    margin: 20px 0;
    width: 99vw;
    background: var(--dark-color);
    font-weight: 200;

    border-radius: 5px;
}

/* Button */
.addToCart {
    display: block;

    padding: 10px 20px;
    display: block;
    border-radius: 25px;
    margin: 30px auto 40px;

    font-size: 1.2rem;
    text-align: center;

    color: var(--font-color);
    background-color: var(--button-color);
}

.addToCart:hover {
    background-color: var(--button-hover-color);
}

@media screen and (min-width: 800px) {
    .content {
        width: 85vw;
  }

    .stuff {
        padding: 50px;
        padding-left: 25px;
        flex-direction: row;

        column-gap: 25px;

        width: 98vw;
    }

    .info {
        width: 95vw;
        background: var(--dark-color);
    }
}